body {
  font-family: verdana;
  font-size: larger;
  background-color:  #057a8d;
}

.heading1 {
  text-align: center;
  margin: 5%;
}

.emotionInput {
  margin: auto;
}

form {
  display: grid;

}

.emotionInput button {
  margin: auto;
}

.btn1 {
  width: max-content;
  margin: auto;
  margin-bottom: 2%;
  background-color:  #057a8d;
  border: none;
  border-radius: 5px;
}

.recommendation {

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: grid;
  margin: auto;
}

.btn2 {
  font-size: small;
}

.songTable {
  font-size: medium;
  text-align: center;
  margin-top: 2%;
}



.box select {
  background-color:  #057a8d;
  color: white;
  padding: 12px;
  width: 150px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}