body {
    text-align: center;

    background-color: #cbebe6;
}
h1 {
    font-size: x-large;
    color: #171819;
}
.login-card {
    background-color: #f6ccca;
    color: #171819;
    width: 70%;
    margin-top: 2vh;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.card-body {
  
    background-color: #f6ccca;
    
}
.form-input {
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}
.submit-btn {
    margin-top: 2vh;
}

.p-text {
    font-size: small;
    margin-top: 2%;
    color:  #171819;
}