body {
    background-color: #F2EEEB;
}

.heading2 {
    color:  #2f3557;
    text-align: center;
    margin: 5%;
}

form {
    display: grid;
}

.journal button {
    margin: auto;
}

canvas {
    width: 100%;
}

.btn {
    width: max-content;
    margin: 4%;
    background-color: #ed6774;
    border: none;
}

.journalSpace {

    width: 100%;
    height: 50vh;
    margin: 2%;
    border: none;
    padding: 2%;
    border-radius: 6px;
    box-shadow: #2f3557 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.prediction {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: grid;
    margin: 4%;
}

canvas {
    margin: auto;
}