:root {
    --primary-color:#cbebe6;
    --secondary-color: #f1c111;
    --white-color: #ffffff;
    --dark-color: #171819;
    --project-bg: #f0f8ff;
    --menu-bg: #0c8195;
  
    --title-color: #15141a;
    --gray-color: #909090;
    --link-color: #404040;
    --p-color: #666262;
  
    --base-font-family: "Plain-Light", sans-serif;
    --title-font-family: "Plain-Regular", sans-serif;
    --font-bold-family: "Plain-Bold", sans-serif;
    --font-weight-bold: bold;
  
    --h1-font-size: 42px;
    --h2-font-size: 32px;
    --h3-font-size: 24px;
    --p-font-size: 18px;
    --base-font-size: 16px;
    --menu-font-size: 14px;
  
    --border-radius-large: 100px;
    --border-radius-small: 5px;
  }
  
  body {
    background-color: #302039;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23302039' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%234f314a' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%236e4358' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%238d5865' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23aa6f70' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23C5887B' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.heading2 {
    color: #cccccc;
    text-align: center;
    margin: 5%;
}

form {
    display: grid;
}

.journal button {
    margin: auto;
}

canvas {
    width: 100%;
}

.btn {
    width: max-content;
    margin: 4%;
    background-color: #ed6774;
    border: none;
}

.journalSpace {}

.prediction {

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: grid;
    margin: 4%;
    
}

.dashboardCard,
.dashboardCard2 {
    padding: 4%;

}
.dashboardCard{
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    color: #cccccc;
}
canvas {
    margin: auto;
    color: white;
}

textarea,
.dashboardCard2 {

    border: 1px solid #EEEEEE;
    border-radius: 18px;


    outline: none;
    box-shadow: 1px 1px 0 #DDDDDD;
    display: block;
    font-family: 'Marck Script', cursive;
    font-size: 22px;
    line-height: 50px;
    margin: 2% auto;
    padding: 11px 25px 10px 70px;
    resize: none;
    height: 80vh;
    width: 100%;

    background-image: -moz-linear-gradient(top, transparent, transparent 48px, #E7EFF8 0px), -moz-radial-gradient(2% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -moz-radial-gradient(3.9% 46%, circle closest-corner, #CCCCCC, #CCCCCC 43.5%, transparent 0%);
    background-image: -webkit-linear-gradient(top, transparent, transparent 48px, #E7EFF8 0), -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 29%, transparent 0%), -webkit-radial-gradient(3.9% 46%, circle closest-corner, #cccccc, #cccccc 33.5%, transparent 0%);

    -webkit-background-size: 100% 52px;
    background-size: 100% 50px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    /* added by vaibhav */
    overflow: scroll;
   
}

/* BUTTON */
.custom-btn {
    background: #7999bb;
    border: 2px solid var(--dark-color);
    border-radius: var(--border-radius-large);
    padding: 1%;
    margin-bottom: 5%;
    font-family: var(--title-font-family);
    font-size: var(--p-font-size);
    white-space: nowrap;
  }
  
  .custom-btn.btn-bg {
    background:#775e8f ;
    color: white;
    border-color: transparent;
    transition: all 0.3s ease;
  }
  
  .custom-btn:hover,
  .custom-btn:focus {
    background: var(--dark-color);
    color: var(--white-color);
    border-color: transparent;
  }
  