:root {
  --primary-color:#cbebe6;
  --secondary-color: #f1c111;
  --white-color: #ffffff;
  --dark-color: #171819;
  --project-bg: #f0f8ff;
  --menu-bg: #0c8195;

  --title-color: #15141a;
  --gray-color: #909090;
  --link-color: #404040;
  --p-color: #666262;

  --base-font-family: "Plain-Light", sans-serif;
  --title-font-family: "Plain-Regular", sans-serif;
  --font-bold-family: "Plain-Bold", sans-serif;
  --font-weight-bold: bold;

  --h1-font-size: 42px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --p-font-size: 18px;
  --base-font-size: 16px;
  --menu-font-size: 14px;

  --border-radius-large: 100px;
  --border-radius-small: 5px;
}

body {
  background: var(--white-color);
  font-family: var(--base-font-family);
  color: whitesmoke;
}


h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  line-height: inherit;
}

h1 {

  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: 100;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: 100;
  margin-bottom: 0;
}

h4 {
  color: var(--gray-color);
  font-family: var(--base-font-family);
  font-size: var(--p-font-size);
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  line-height: 1.5em;
}

b,
strong {
  letter-spacing: 0;
  color: var(--secondary-color);
}

/* BUTTON */
.custom-btn {
  background: transparent;
  border: 2px solid var(--dark-color);
  border-radius: var(--border-radius-large);
  padding: 12px 26px 14px 26px;
  color: var(--dark-color);
  font-family: var(--title-font-family);
  font-size: var(--p-font-size);
  white-space: nowrap;
}

.custom-btn.btn-bg {
  background: var(--white-color);
  border-color: transparent;
  transition: all 0.3s ease;
}

.custom-btn:hover,
.custom-btn:focus {
  background: var(--dark-color);
  color: var(--white-color);
  border-color: transparent;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  font-weight: normal;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: var(--secondary-color);
  outline: none;
  text-decoration: none;
}

::selection {
  background: var(--secondary-color);
  color: var(--white-color);
}

.section-padding {
  padding: 8em 0;
}
.section-padding-half {
  padding: 4em 0;
}

.google-map iframe {
  display: block;
  width: 100%;
}

.hero {
  position: relative;
  padding: 5em 0;
  overflow: hidden;
}

.hero-bg {
  background-color: #042339;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23042339' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23113f57' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23215e75' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23347e91' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%234ca0ac' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%2368C3C5' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
height: 100vh;
color: #ebf8f6;
}

.hero-image {
  position: relative;
  top: 2em;
}

.about {
  position: relative;
  overflow: hidden;
}

.about-image img {
  display: block;
  margin: 0 auto;
}

/*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

@media screen and (min-width: 1200px) {
  .about-info h2 {
    max-width: 70%;
  }
}

@media screen and (min-width: 991px) {
  .project h2 {
    max-width: 32%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .hero {
    padding-top: 14em;
  }

  .hero-text {
    bottom: 2em;
  }

  .navbar {
    padding: 1em;
  }

  .navbar-collapse {
    text-align: center;
    padding: 2.5em 0;
  }

  .nav-link {
    display: inline-block;
  }

  .navbar-expand-lg .navbar-nav .nav-link.contact {
    margin: 1em 0;
  }

  .copyright-text,
  .footer-link,
  .site-footer .social-icon {
    margin-top: 3em;
    padding: 0;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  .project-info {
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .footer-link,
  .site-footer .social-icon {
    margin-top: 1em;
  }

  .copyright-text {
    margin: 2.5em 0 1em 0;
  }

  .footer-link li {
    margin-left: 0;
  }
}
