<!DOCTYPE html>
{% extends 'base.html' %} {% block content %} {% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- BootStrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'css/predict.css' %}" />

    <title>Mood detection</title>
  </head>

  <body>
    <div class="container">
      
      <div class="card dashboardCard prediction ">
      <h4 class="card-title">Profile</h4>
        <p><b>Username:</b> {{ name }}</p>
        <p><b>Current entry emotion statistics:</b></p>
        <canvas id="myChart" style="width: 100%; max-width: 700px"></canvas>

        

        {% comment %} <h3 class="heading2">Key emotion: <a id="prediction"></a></h3> {% endcomment %}
      </div>

      <div class="card dashboardCard prediction ">
        <p><b>Weekly emotion statistics:</b></p>
        <canvas id="myChart2" style="width: 100%; max-width: 700px"></canvas>

        

        {% comment %} <h3 class="heading2">Key emotion: <a id="prediction"></a></h3> {% endcomment %}
      </div>
      
      <div class="card dashboardCard2 prediction">
      <h4 class="card-title">Last entry</h4>
        <p>{{ journalText }}</p>
      

        {% comment %} <h3 class="heading2">Key emotion: <a id="prediction"></a></h3> {% endcomment %}
      </div>
    </div>

    <!-- JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script>

      function get_Arr(arr){
        arr = arr.slice(1, -1);
        arr = arr.split(", ");
        for (var i = 0; i < arr.length; i++) arr[i] = parseInt(arr[i]);
        return arr ;
      }
      let xx = "{{xx}}";
      let x = xx.toString();
      if (x != "") {
        document.getElementById("prediction").innerHTML = x;
      }
      let yy = "{{yy}}";
      yy = yy.slice(1, -1);
      yy = yy.split(", ");
      for (var i = 0; i < 6; i++) yy[i] = parseInt(yy[i]);
      var xValues = ["Sadness", "Joy", "Surprise", "Love", "Anger", "Fear"];
      var yValues = yy;
      console.log(yy);
      var barColors = ["red", "green", "blue", "orange", "brown", "pink"];

      new Chart("myChart", {
        type: "bar",
        scaleFontColor: "#FFFFFF",
        data: {
          labels: xValues,
          datasets: [
            {
              
              backgroundColor: barColors,
              data: yValues,
            },
          ],
        },
        options: {
          legend: { display: false },
          labels: {
          color: "white", 
          font: {
            size: 18
          }
        },
          title: {
            display: true,
            text: "Emotion percentage",
            fontColor:'white',
          },
          scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    fontColor: 'white'
                },
            }],
          xAxes: [{
                ticks: {
                    fontColor: 'white'
                },
            }]
        } 

        },
        
      });
var speedCanvas = document.getElementById("speedChart");
{% comment %} "Sadness", "Joy", "Surprise", "Love", "Anger", "Fear" {% endcomment %}
  let sad_val = "{{sad}}";
  sad_val = get_Arr(sad_val)  
  let joy_val = "{{joy}}";
  joy_val = get_Arr(joy_val)  
  let surprise_val = "{{surprise}}";
  surprise_val = get_Arr(surprise_val)  
  let love_val = "{{love}}";
  love_val = get_Arr(love_val)  
  let anger_val = "{{anger}}";
  anger_val = get_Arr(anger_val)  
  let fear_val = "{{fear}}";
  fear_val = get_Arr(fear_val)  
      
var dataSad = {
    label: "Sadness",
    data: sad_val,
    lineTension: 0,
    fill: false,
    borderColor: '#0c8195'
  };

var dataJoy = {
    label: "Joy",
    data: joy_val,
    lineTension: 0,
    fill: false,
  borderColor: 'orange'
  };

var dataSurprise = {
    label: "Surprise",
    data: surprise_val,
    lineTension: 0,
    fill: false,
    borderColor: '#dce655'
  };

var dataLove = {
    label: "Love",
    data: love_val,
    lineTension: 0,
    fill: false,
  borderColor: 'pink'
  };

var dataAnger = {
    label: "Anger",
    data: anger_val,
    lineTension: 0,
    fill: false,
    borderColor: '#c91010'
  };

var dataFear = {
    label: "Fear",
    data: fear_val,
    lineTension: 0,
    fill: false,
  borderColor: 'green'
  };

var speedData = {
  labels: ["Day1", "Day2", "Day3", "Day4", "Day5"],
  datasets: [dataSad, dataJoy, dataSurprise, dataLove, dataAnger, dataFear]
};

var chartOptions = {
  legend: {
    display: true,
    position: 'top',
    labels: {
      boxWidth: 80,
      fontColor: 'black'
    }
  }
};

var lineChart = new Chart(myChart2, {
  type: 'line',
  data: speedData,
  options:  { 
    legend: { 
      display: true,
      position:'right',
      labels: {
        fontColor: 'white'
      }
      },
    labels: {
      color: "white", 
      font: {
        size: 18
      }
      },
    title: {
      display: true,
      text: "Emotion percentage",
      fontColor:'white',
      },
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero:false,
          fontColor: 'white'
          },
     }],
        xAxes: [{
         ticks: {
          fontColor: 'white'
            },
      }]
    }}})
    </script>
  </body>
</html>
{% endblock %}
