<!DOCTYPE html>
{% extends 'base.html' %} {% block content %} {% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- BootStrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'css/predict.css' %}" />

    <title>Mood detection</title>
  </head>

  <body>
    <div class="container">
      
      <div class="card dashboardCard prediction ">
      <h4 class="card-title">Profile</h4>
        <h5><b>Username:</b> {{ name }}</h5>
        <h4 class="heading2"><b>Current entry emotion statistics</b></h4>
        <canvas id="myChart" style="width: 100%; max-width: 700px"></canvas>
      </div>

      <div class="card dashboardCard prediction ">
        <h4 class="heading2"><b>Weekly emotion statistics</b></h4>
        <canvas id="myChart2" style="width: 100%; max-width: 700px"></canvas>

        

        {% comment %} <h3 class="heading2">Key emotion: <a id="prediction"></a></h3> {% endcomment %}
      </div>

      <div class="card dashboardCard prediction ">
        <h4 class="heading2">If you are feeling <a id="key_emotion"></a> today, try this!</h4>
        
        <div class="row">
          <div id="sad">
              <div class="col">
                <h6 class="heading2">Go for a walk</h6>
                 <img src= "{% static 'images/sad1.png' %}" class="moodImg"  alt="working girl" />
              </div>
              <div class="col">
                 <h6 class="heading2">Talk to your family/friends</h6>
                 <img src= "{% static 'images/sad2.png' %}" class="moodImg"  alt="working girl" />
              </div>
              <div class="col">
                 <h6 class="heading2">Get creative!</h6>
                 <img src= "{% static 'images/sad3.png' %}" class="moodImg"  alt="working girl" />
              </div>
          </div>
          <div id="happy">
              <div class="col">
                  <h6 class="heading2">Go on a road trip</h6>
                 <img src= "{% static 'images/4.png' %}" class="moodImg"  alt="working girl" />
              </div>
              <div class="col">
              <h6 class="heading2">Volunteer for charity events</h6>
                 <img src= "{% static 'images/5.png' %}" class="moodImg"  alt="working girl" />
              </div>
              <div class="col">
              <h6 class="heading2">Explore new hobbies</h6>
                 <img src= "{% static 'images/6.png' %}" class="moodImg"  alt="working girl" />
              </div>
          </div>
          <div id="fear">
             <div class="col">
                  <h6 class="heading2">Talk to your close ones</h6>
                 <img src= "{% static 'images/sad2.png' %}" class="moodImg"  alt="working girl" />
              </div>
              <div class="col">
              <h6 class="heading2">Meditate</h6>
                 <img src= "{% static 'images/7.png' %}" class="moodImg"  alt="working girl" />
              </div>
              <div class="col">
              <h6 class="heading2">Read your favourite book</h6>
                 <img src= "{% static 'images/8.png' %}" class="moodImg"  alt="working girl" />
              </div>
          </div>
          <div id="surprise">
             <div class="col">
                  <h6 class="heading2">Explore a new hiking trail</h6>
                 <img src= "{% static 'images/14.png' %}" class="moodImg"  alt="working girl" />
              </div>
              <div class="col">
              <h6 class="heading2">Watch a thought-provoking movie</h6>
                 <img src= "{% static 'images/15.png' %}" class="moodImg"  alt="working girl" />
              </div>
              <div class="col">
              <h6 class="heading2">Try a new cuisine</h6>
                 <img src= "{% static 'images/16.png' %}" class="moodImg"  alt="working girl" />
              </div>
          </div>
          <div id="angry">
              <div class="col">
                  <h6 class="heading2">Exercise at home/gym</h6>
                 <img src= "{% static 'images/9.png' %}" class="moodImg"  alt="working girl" />
              </div>
              <div class="col">
              <h6 class="heading2">Try deep breathing exercises</h6>
                 <img src= "{% static 'images/7.png' %}" class="moodImg"  alt="working girl" />
              </div>
              <div class="col">
              <h6 class="heading2">Play some calming music</h6>
                 <img src= "{% static 'images/10.png' %}" class="moodImg"  alt="working girl" />
              </div>
          </div>
          <div id="love">
              <div class="col">
                  <h6 class="heading2">Cook a meal</h6>
                 <img src= "{% static 'images/11.png' %}" class="moodImg"  alt="working girl" />
              </div>
              <div class="col">
              <h6 class="heading2">Try self care activites</h6>
                 <img src= "{% static 'images/12.png' %}" class="moodImg"  alt="working girl" />
              </div>
              <div class="col">
              <h6 class="heading2">Go for shopping</h6>
                 <img src= "{% static 'images/13.png' %}" class="moodImg"  alt="working girl" />
              </div>
          </div>
      
         
        </div>
      </div>
      
      <div class="card dashboardCard2 prediction">
      <h4 class="card-title">Last entry</h4>
        <p>{{ journalText }}</p>
            </div>
    </div>

    <!-- JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script>

      function get_Arr(arr){
        arr = arr.slice(1, -1);
        arr = arr.split(", ");
        for (var i = 0; i < arr.length; i++) arr[i] = parseInt(arr[i]);
        return arr ;
      }
      let xx = "{{xx}}";
      let x = xx.toString();
      if (x != "") {
        document.getElementById("prediction").innerHTML = x;
      }
      let yy = "{{yy}}";
      yy = yy.slice(1, -1);
      yy = yy.split(", ");
      for (var i = 0; i < 6; i++) yy[i] = parseInt(yy[i]);
      var xValues = ["Sadness", "Joy", "Surprise", "Love", "Anger", "Fear"];
      var emotion_val = ["sad", "happy", "surprised", "love", "angry", "scared"];
      var yValues = yy;
      var key_emotion = (yValues.indexOf(Math.max(...yValues)));
      if(key_emotion === 0){
          document.getElementById("sad").style.display = "flex" ;
      }
      else if(key_emotion === 1){
          document.getElementById("happy").style.display = "flex" ;
      }
      else if(key_emotion === 2){
          document.getElementById("surprise").style.display = "flex" ;
      }
      else if(key_emotion === 3){
          document.getElementById("love").style.display = "flex" ;
      }
      else if(key_emotion === 4){
          document.getElementById("angry").style.display = "flex" ;
      }
      else if(key_emotion === 5){
          document.getElementById("fear").style.display = "flex" ;
      }

      
      document.getElementById("key_emotion").innerHTML = emotion_val[key_emotion];
      var barColors = ["red", "green", "blue", "orange", "brown", "pink"];

      new Chart("myChart", {
        type: "bar",
        scaleFontColor: "#FFFFFF",
        data: {
          labels: xValues,
          datasets: [
            {
              
              backgroundColor: barColors,
              data: yValues,
            },
          ],
        },
        options: {
          legend: { display: false },
          labels: {
          color: "white", 
          font: {
            size: 18
          }
        },
          title: {
            display: true,
            text: "Emotion percentage",
            fontColor:'white',
          },
          scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    fontColor: 'white'
                },
            }],
          xAxes: [{
                ticks: {
                    fontColor: 'white'
                },
            }]
        } 

        },
        
      });
var speedCanvas = document.getElementById("speedChart");
{% comment %} "Sadness", "Joy", "Surprise", "Love", "Anger", "Fear" {% endcomment %}
  let sad_val = "{{sad}}";
  sad_val = get_Arr(sad_val)  
  let joy_val = "{{joy}}";
  joy_val = get_Arr(joy_val)  
  let surprise_val = "{{surprise}}";
  surprise_val = get_Arr(surprise_val)  
  let love_val = "{{love}}";
  love_val = get_Arr(love_val)  
  let anger_val = "{{anger}}";
  anger_val = get_Arr(anger_val)  
  let fear_val = "{{fear}}";
  fear_val = get_Arr(fear_val)  
      
var dataSad = {
    label: "Sadness",
    data: sad_val,
    lineTension: 0,
    fill: false,
    borderColor: '#0c8195'
  };

var dataJoy = {
    label: "Joy",
    data: joy_val,
    lineTension: 0,
    fill: false,
  borderColor: 'orange'
  };

var dataSurprise = {
    label: "Surprise",
    data: surprise_val,
    lineTension: 0,
    fill: false,
    borderColor: '#dce655'
  };

var dataLove = {
    label: "Love",
    data: love_val,
    lineTension: 0,
    fill: false,
  borderColor: 'pink'
  };

var dataAnger = {
    label: "Anger",
    data: anger_val,
    lineTension: 0,
    fill: false,
    borderColor: '#c91010'
  };

var dataFear = {
    label: "Fear",
    data: fear_val,
    lineTension: 0,
    fill: false,
  borderColor: 'green'
  };

var speedData = {
  labels: ["Day1", "Day2", "Day3", "Day4", "Day5"],
  datasets: [dataSad, dataJoy, dataSurprise, dataLove, dataAnger, dataFear]
};

var chartOptions = {
  legend: {
    display: true,
    position: 'top',
    labels: {
      boxWidth: 80,
      fontColor: 'black'
    }
  }
};

var lineChart = new Chart(myChart2, {
  type: 'line',
  data: speedData,
  options:  { 
    legend: { 
      display: true,
      position:'right',
      labels: {
        fontColor: 'white'
      }
      },
    labels: {
      color: "white", 
      font: {
        size: 18
      }
      },
    title: {
      display: true,
      text: "Emotion percentage",
      fontColor:'white',
      },
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero:false,
          fontColor: 'white'
          },
     }],
        xAxes: [{
         ticks: {
          fontColor: 'white'
            },
      }]
    }}})
    </script>
  </body>
</html>
{% endblock %}
