
{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% if error %}
{{ error }}

<br/>
<br/>
{% endif %}


<div class="card login-card">
<div class="card-header">
<h1>Login!</h1>
</div>
<div class="card-body">
<form method = "POST" action="{% url 'login' %}">
    {% csrf_token %}
    <br/>
    <input class="form-input" type="text" name="username" placeholder="username"/>
    <br/>
    <br/>
    <input class="form-input" type="password" name="password" placeholder="password"/>
    <br/>
    <input class ="btn btn-primary submit-btn" type="submit" value= "Login" />
    <br/>
</form>
<p class="p-text">Don't have an account? <a href="/signup">Signup!</a></p>
</div>

</div>



{% endblock %}
