

{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>

{% if error %}
{{ error }}

<br/>
<br/>
{% endif %}

<div class="card login-card">
<div class="card-header">
<h1>SignUp!</h1>
</div>
<div class="card-body">
<form method = "POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <br/>
    <input class="form-input" type="text" name="username" placeholder="username"/>
    <br/>
    <br/>
    <input class="form-input" type="password" name="password1" placeholder="password"/>
    <br/>
    <br/>
    <input class="form-input" type="password" name="password2" placeholder="confirm password"/>
    <br/>
    <input class ="btn btn-primary submit-btn" type="submit" value= "Signup" />
    <br/>



</form>
</div>

</div>

{% endblock %}
